.topNavigation {
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #fff;
    flex-direction: row;
}

.navButtons {
    position: absolute;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navLogo {
    min-width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    color: #002fa7;
}

.svgElement {
    height: 50%;
}
