.collectionListWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
    align-items: flex-start;
    background: #fff;
}

.collectionItemWrapper {
    width: 100%;
    min-height: 336px;
    display: flex;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f6f6f4;
    border-left: 1px solid #000;
}
.collectionItemWrapper:last-child {
    border-right: 1px solid #000;
}

.collectionItemCaption {
    display: flex;
    width: 100%;
    top: 20px;
    position: absolute;
    height: 40px;
    z-index: 5;
    justify-content: center;
    align-items: center;
    font-family: "Acumin Pro";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.collectionItemCaptionName {
    font-weight: 500;
    margin-right: 5px;
}

.collectionItemImage {
    position: center;
    top: 0;
    display: inline-block;
}
